.odd{
    background-color: #ffcccc;
    font-family: Verdana,"DejaVu Sans", sans-serif;
}

#two{
    color:blue;
    font-size: 36px;
}

.cool{
    font-size: 24px;
}

#four{
    background-color: #ccffcc;
    font-size: 24px;
    font-weight: bold;
}

body{
    background-color: rgb(255, 165, 140);
    background-image:url("https://i.redd.it/1rafyurk0c4h1.gif");
    background-size: cover;
}